.masthead {
    z-index: 5;
    height: 100vh;
    min-height: 500px;
    background-color: #dfdfdf;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
  }

  html, body { 
    background-color: #dfdfdf;
  }


