.masthead {
    z-index: 5;
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/[images.unsplash.com][71329].jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
  }

  html, body { 
    background-color: #00c7b7 !important;
  }


